In [1]:
import pandas as pd
print(pd.__version__)

2.2.0

C:\Users\HP\AppData\Local\Temp\ipykernel_1752\1804728916.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
import pandas as pd

data={
    "Tid" :[1,2,3,4,5,6,7,8,9,10],
    "Refund" :["YES", "NO", "NO", "YES", "NO", "NO", "YES", "NO", "NO", "NO"],
    "Marital status":["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income":[ "125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K","90K"],
    "Cheat":["No", "NO", "NO", "NO","YES", "NO", "NO", "YES","NO", "YES"]
    }
ans= pd.DataFrame(data)
print(ans)

   Tid Refund Marital status Taxable Income Cheat
0    1    YES         Single           125K    No
1    2     NO        Married           100K    NO
2    3     NO         Single            70K    NO
3    4    YES        Married           120K    NO
4    5     NO       Divorced            95K   YES
5    6     NO        Married            60K    NO
6    7    YES       Divorced           220K    NO
7    8     NO         Single            85K   YES
8    9     NO        Married            75K    NO
9   10     NO         Single            90K   YES

In [5]:
print(ans.loc[[0,4,7,8]])

   Tid Refund Marital status Taxable Income Cheat
0    1    YES         Single           125K    No
4    5     NO       Divorced            95K   YES
7    8     NO         Single            85K   YES
8    9     NO        Married            75K    NO

In [6]:
import pandas as pd

data={
    "Tid" :[1,2,3,4,5,6,7,8,9,10],
    "Refund" :["YES", "NO", "NO", "YES", "NO", "NO", "YES", "NO", "NO", "NO"],
    "Marital status":["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income":[ "125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K","90K"],
    "Cheat":["No", "NO", "NO", "NO","YES", "NO", "NO", "YES","NO", "YES"]
    }
data

{'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Refund': ['YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO'],
 'Marital status': ['Single',
  'Married',
  'Single',
  'Married',
  'Divorced',
  'Married',
  'Divorced',
  'Single',
  'Married',
  'Single'],
 'Taxable Income': ['125K',
  '100K',
  '70K',
  '120K',
  '95K',
  '60K',
  '220K',
  '85K',
  '75K',
  '90K'],
 'Cheat': ['No', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES']}